
<div class="container">

	<div>

			<div>
				<img alt="ProfilePic" ng-src="img/logo.png">
			</div>

			<table>
			<tr>
				<td>
					<div>
					  	  <label for="userName">User Name</label>
						  <input type="text" placeholder="User Name ....." id="userName" ng-model="user.userName">

					  	  <label for="password">Password</label>
						  <input type="text" placeholder="User Name ....." id="password" ng-model="user.password">
						  
						   <label for="name">Name</label>
						  <input type="text" placeholder="Name ....." id="name" ng-model="user.name">
						  
						   <label for="emailAdd">Email</label>
						  <input type="text" placeholder="Email...." id="emailAdd" ng-model="user.emailAdd">
						  
						  <label for="bio">User Bio</label>
						  <input type="text" placeholder="User Bio....." id="bio" ng-model="user.bio">
						<br/>
	                     <button type="submit" class="btn btn-primary" >Save</button>
	                     <button type="button" class="btn btn-primary" >Cancel</button>
					</div>
				</td>
			</tr>
		</table>
		
		
	</div>	
</div>